body{
    background-image: url("blur.jpeg");
    width: 100%;
    background-size: cover;
}
.img-area .stry
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0% 10%;
    padding-top: 7.5%;
}
.img-area .stri{
    position: absolute;
    top:25%;
    left:10%;
    height: 50%;
    
}
div.img-area{
    width: 100%;
    height: 550px;
    overflow: hidden;
    position: relative;
}
div img.stry{
    width: 100%;
    position: absolute ;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}
div.stry{
    text-align: center;
    padding: 0% 10% 5% 10%;
    background-color: #FAEEE0;
    color: #B24080;
}
div.timer_1{
    background-image: linear-gradient(180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.9)),url("cover.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
}
div.timer_2{
    background-image: linear-gradient(180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.9)),url("ring.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
}
div.ftr{
    padding: 1% 2% ;
    background-color: #fff;
    color: #B24080;
    font-family: 'Birthstone', cursive;
    font-size: 2rem;
}
.container-fluid a{
    color: #B24080;
    text-decoration: none;
}
.container-fluid button{
    color: #B24080;
}
.ftr a{
    text-decoration: none;
    color: #B24080;
}
.timer_1{
    text-align: right;
    color: #fff;
    padding-left: 40%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.timer_2{
    text-align: left;
    color: #fff;
    padding-right: 40%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.navbar{
    font-family: 'Birthstone', cursive;
    font-size: 2rem;
}
.navbar-brand{
    font-size: 2.5rem;
}
#footer h1{ 
    
    font-family: 'Birthstone', cursive;
    font-size: 2rem;;
}
#title{
    font-family: 'Birthstone', cursive;
}
#story{
    font-family: 'Birthstone', cursive;
}
#story h5{
    font-size: 2rem;
}
#story h1{
    font-size: 5rem;
}
#timer{
    font-family: 'Birthstone', cursive;
}
#timer h5{
    font-size: 2rem;
    margin: 0;
    pa
}
#timer h1{
    font-size: 5rem;
}
#timer{
    font-family: 'Birthstone', cursive;
}
#timer h5{
    font-size: 2rem;
    margin: 0;
    
    
}
#timer h1{
    font-size: 5rem;
}
#story_2 h5{
    font-size: 2rem;
    color: #B24080;
}
#story_2 h1{
    font-size: 5rem;
    color: #B24080;
}
.fl{
    color: #406343;
}